.staff-products-container{
    padding: 50px 0;
}
  
.staff-products-container .staff-products-header{
    text-align: left;
    margin-bottom: 20px;
}
  
.staff-products-container .staff-products-header h1{
    color: #221FC5;
    font-size: 1.5em;
}
  
.staff-products-container .staff-products-header h2{
    color: #C51F29;
    font-size: 1.2em;
}
  
.staff-products-container .staff-products-controls{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
  
.staff-products-container .staff-products-controls button:nth-child(1){
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #077A37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.staff-products-container .staff-products-controls button:nth-child(1):hover, 
.staff-products-container .staff-products-controls button:nth-child(1):focus{
    background-color: transparent;
    border: 1px solid #077A37;
    color: #077A37;
}
  

.staff-products-container .staff-products-controls button:nth-child(2){
    padding: 10px 15px;
    margin-left: 10px;
    background-color: transparent;
    color: #5D6679;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #D0D3D9;
}

.staff-products-container .staff-products-controls button:nth-child(2):hover, 
.staff-products-container .staff-products-controls button:nth-child(2):focus{
    background-color: #077A37;
    color: white;
}
  
.staff-products-container .staff-products-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 13px;
}

/* if rchived */
.archived-product{
    background-color: #e0e0e0;
    color: #999999;
}

@keyframes low-stock-animation{
    0%{
        background-color: #fff4d2;
    }
    50%{
        background-color: #ffddd3;
    }
    100%{
        background-color: #fff4d4;
    }
}
.low-quantity{
    animation: low-stock-animation 1.5s infinite;
}

@keyframes out-stock-animation{
    0%{
        background-color: #db2727;
    }
    50%{
        background-color: #ffd3d3;
    }
    100%{
        background-color: #da0d0d;
    }
}
.out-of-quantity{
    animation: out-stock-animation 1.5s infinite;
}
.low-quantity.archived-product{
    animation: none; 
    background-color: #e0e0e0;
    color: #999999;
}

.archived-product .actions-tbody button{
    opacity: 1;
    pointer-events: auto; 
}

.archived-product .actions-tbody .button-archive-icon{
    color: #ff5733;
}
.staff-products-container .staff-products-table tbody tr .actions-tbody{
    display: flex;
    align-items: center;
    gap: 10px;
}
  

.staff-products-container .staff-products-table .button-edit-icon, .button-delete-icon{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
  
  
.staff-products-container .staff-products-table th, .staff-products-table td{
    padding: 20px 15px;
    text-align: left;
}

.staff-products-table .product-image-name{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.staff-products-table .product-image-name img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.staff-products-container .staff-products-table th{
    background-color: #f2f2f2;
    color: black;
}
  
.staff-products-container .staff-products-table .in-stock{
    color: #10A760;
    font-weight: bold;
}
  
.staff-products-container .staff-products-table .out-of-stock{
    color: #DA3E33;
    font-weight: bold;
}
  
.staff-products-container .staff-products-table .low-stock{
    color: #E19133;
    font-weight: bold;
}

.staff-products-container .button-archived-icon{
    background: none;
    border: none;
}

.staff-products-container .button-archived-icon span{
    font-size: 14px;
    color: grey;
    cursor: pointer;
}