.customer-payable-page{
    padding: 20px;
}
  
.customer-payable-page h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.customer-payable-page .date-group{
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: auto;
}

.customer-payable-page .date-group h3{
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

.customer-payable-page .payable-table{
    width: 100%;
    border-collapse: collapse;
}

.customer-payable-page .payable-table th, .payable-table td{
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.customer-payable-page .product-image, .proof-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.customer-payable-page .total-amount{
    text-align: right;
    font-size: 16px;
    margin-top: 10px;
    color: #444;
}

.customer-payable-page .transaction-header{
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
  
.customer-payable-page .payable-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}
  
.customer-payable-page .payable-table th, .payable-table td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
  
.customer-payable-page .payable-table th{
    background-color: #f4f4f4;
}
  
.customer-payable-page .product-image, .proof-image{
    width: 50px;
    height: 50px;
}
  
.customer-payable-page .status{
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
  

  
.customer-payable-page .total-amount{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
  
.customer-payable-page .status{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    text-transform: capitalize;
}
  
.customer-payable-page .status.paid{
    background-color: #d4f8d4;
    color: #28a745;
    border: 1px solid #28a745;
}

.customer-payable-page .status.partial{
    background-color: #f8f6d7;
    color: #dcd135;
    border: 1px solid #dcd135;
}
  
.customer-payable-page .status.unpaid{
    /* background-color: #f8d7da;
    color: #dc3545;
    border: 1px solid #dc3545; */
    background-color: #fffeed;
    color: #dcd135;
    border: 1px solid #dcd135;
}
  
.customer-payable-page .status-icon{
    margin-right: 5px;
    font-size: 16px;
}


.customer-payable-page .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.customer-payable-page .modal-content{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    overflow-y: auto;
}

.customer-payable-page .modal-content h2{
    margin-bottom: 20px;
}

.customer-payable-page .modal-content input{
    margin-bottom: 10px;
    width: 100%;
}

.customer-payable-page .product-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
    display: block;
}


.customer-payable-page .modal-content img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.customer-payable-page .modal-content input[type='file']{
    margin-top: 1rem;
}
.customer-payable-page .modal-content button{
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.customer-payable-page .modal-content button:first-child{
    background: #28a745;
    color: white;
}

.customer-payable-page .modal-content button:last-child{
    background: #dc3545;
    color: white;
}

  


.proof-of-payment-image{
    width: 30px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    object-fit: cover;
    cursor: pointer;
}

.upload-button{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.upload-button:hover{
    background-color: #218838;
}


.view-button{
    background-color: #fff;
    color: #077A37;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view-button:hover {
    background-color: #077A37;
    color: #ffff;
}

.view-button:active{
    transform: scale(0.98); 
}

.customer-payable-page .view-button,
.customer-payable-page .receive-button{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.receive-button{
    background-color: #077A37;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.receive-button:hover{
    background-color: #01682c;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.receive-button:active{
    transform: scale(0.98);
}

.receive-button.disabled{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
}

.receive-button:disabled:hover{
    background-color: #cccccc;
    box-shadow: none;
}

.upload-proof-button{
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-proof-button:hover{
    background-color: #0056b3;
}
