.customer-forgot-password-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
  
.customer-forgot-password-container .customer-forgot-password-header{
    color: #077A37;
    font-size: 24px;
    margin-bottom: 10px;
}
  
.customer-forgot-password-container .welcome-message{
    font-size: 16px;
    margin-bottom: 20px;
}
  
.customer-forgot-password-container .customer-forgot-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.customer-forgot-password-container .form-group{
    width: 100%;
    margin-bottom: 25px;
    text-align: left;
}
  
.customer-forgot-password-container .form-group label{
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
  
.customer-forgot-password-container .form-group .form-input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 41px); 
    padding-right: 30px;
    outline: none;
}

.customer-forgot-password-container .form-group .form-input:focus,
.customer-forgot-password-container .form-group .form-input:hover{
    border-color: #077A37;
    box-shadow: 0 0 0 0.2rem rgba(112, 218, 139, 0.5);
}

.customer-forgot-password-container .password-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
 


.customer-forgot-password-container .customer-forgot-password-button{
    width: 100%;
    padding: 10px;
    background-color: #077A37;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.customer-forgot-password-container .customer-forgot-password-button:hover,
.customer-forgot-password-container .customer-forgot-password-button:focus{
    background-color: #08632e;
}

.customer-forgot-password-container .back-to-login{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    font-weight: bold;
}





/* vectors */

.customer-forgot-password-vectors {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: -1;
}

.customer-forgot-password-vectors .vector-left {
    margin-left: -10px;
}

.customer-forgot-password-vectors .vector-right {
    margin-right: -10px;
}

/* end vectors */




@media (max-width: 1500px){
    .customer-forgot-password-vectors{
        width: 100%;
        height: 35%;
    }

}


@media (max-width: 1000px){
    .customer-forgot-password-vectors{
        width: 100%;
        height: 25%;
    }

}



@media (max-width: 768px){
    .customer-forgot-password-vectors{
        width: 100%;
        height: 20%;
    }

}


@media (max-width: 624px){
    .customer-forgot-password-vectors{
        width: 100%;
        height: 15%;
    }

}

@media (max-width: 516px){
    .customer-forgot-password-vectors{
        width: 100%;
        height: 10%;
    }

}