.customer-gcash-payment-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.customer-gcash-payment-container .customer-gcash-payment-content{
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    overflow-y: auto;
}

.customer-gcash-payment-container .customer-gcash-payment-content .customer-gcash-payment-inputs{
    line-height: 1px;
}

  
.customer-gcash-payment-container h2{
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}
  
.customer-gcash-payment-container p{
    margin-bottom: 10px;
    color: #666;
}
  
.customer-gcash-payment-container input[type='number']{
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
  
.customer-gcash-payment-container .file-upload{
    margin-bottom: 20px;
}
  
.customer-gcash-payment-container .upload-image{
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.customer-gcash-payment-container .upload-image:hover{
    background-color: #f0f0f0;
}
  
.customer-gcash-payment-container .file-name{
    margin-top: 10px;
    color: #333;
    font-size: 0.9em;
}
  
.customer-gcash-payment-container .modal-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
.customer-gcash-payment-container .modal-buttons button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.customer-gcash-payment-container .cancel-button{
    background-color: #ccc;
    color: #fff;
}
  
.customer-gcash-payment-container .cancel-button:hover{
    background-color: #bbb;
}
  
.customer-gcash-payment-container .submit-button{
    background-color: #077A37;
    color: #fff;
}
  
.customer-gcash-payment-container .submit-button:hover{
    background-color: #065a29;
}
  